<div class="container">

    <div class="row">
        <div class="col-left-md-6">
            <h2 class="pt-5">Send Message Us</h2>
            <div class="line"></div>
            <div class="text-center">
                <input type="text" placeholder="your name" class="input-style mt-5">
    
                <input type="email" placeholder="your mail" class="input-style mt-3">
    
                <input type="text" placeholder="subject" class="input-style mt-3">
    
                <textarea placeholder="message" cols="30" rows="5" class="input-style mt-3 "></textarea>
    
                <button class="btn-form mt-5 mb-5">send message</button>
    
    
            </div>
        </div>
        <div class="col-right-md-6">
            <h2 class="pt-5">Get in Touch</h2>
            <div class="line"></div>
            <p class="pt-5 lh-lg fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem expedita aperiam aliquid at. Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis mollitia inventore?</p>
    
            <p>
                <i class="pe-1 fa-solid fa-magnifying-glass-location"></i>329 WASHINGTON ST BOSTON, MA 02108
            </p>
    
            <p>
                <i class=" pe-1 fa-solid fa-mobile-retro"></i> (617) 557-0089
            </p>
    
            <p>
                <i class="fa-solid fa-envelope-circle-check"></i> contact@example.com
            </p>
            <div class="icon mt-5">
                <span class="p-2 mt-1 mx-1 "><i class="fa-brands fa-facebook"></i> </span>
                <span class="p-2 mt-1 mx-1 "><i class="fa-brands fa-instagram"></i> </span>
                <span class="p-2 mt-1 mx-1 "><i class="fa-brands fa-twitter"></i> </span>
                <span class="p-2 mt-1 mx-1 "><i class="fa-brands fa-linkedin"></i> </span>
            </div>
    
        </div>
    </div>
</div>

