<div class="row justify-content-center  my-3">

    

    <div *ngFor="let movie of popularmovies|search:term" class="col-md-2 ">
        <div  class="movie">
            <a [routerLink]="['/moviedetails', movie.id]">

                <img class="w-100" [src]="imgprefix + movie.poster_path" alt="">

            <h3 class="h6 my-3">{{movie.title}}</h3>
            <p class="h6 my-3">{{movie.overview|seemore:10}}</p>
            </a>
            
        </div>
    </div>
</div>

<div class="p-5 d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
          <li (click)="test(page)" *ngFor="let page of pages" class="page-item">
            <a class="page-link" >{{page}}</a>
        </li>
        </ul>
      </nav>
</div>