@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body{
    background-color:#131722;
    font-family: 'montserrat alternates' , 'sans-serif';
    color: #fff;      
}


.nav-link , .navbar-brand{ 
    color: #fff !important;
}
.brdr{
    height: 1px;
    background-color: darkgray;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
}